<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367536514618-mua6sic69eph9k1cuvbu7ujk4i8eucfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367536514618-mua6sic69eph9k1cuvbu7ujk4i8eucfh</string>
	<key>API_KEY</key>
	<string>AIzaSyC6jFDlev-BWGt27VpBPAA-jKVZPzcJ1QU</string>
	<key>GCM_SENDER_ID</key>
	<string>367536514618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.will-hu</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c3c9d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c3c9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367536514618:ios:de397504bfee7ed2c53703</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-c3c9d.firebaseio.com</string>
</dict>
</plist>